<div class="relative mb50" >
	<h4 class="center">new logs</h4>
	<table class="highlight responsive-table" border="1">
	<tr><th>Header 1</th><th>Header 2</th><th>Header 3</th><th>Header 4</th><th>Header 5</th></tr>
	{{#each data}}
		<tr><td>{{logId}}</td><td>{{subtype}}</td><td>{{origin}}</td><td>{{creationTime}}</td><td>{{user.userId}}</td></tr>
	{{/each}}
	<a class="btn-floating btn-large halfway-fab waves-effect waves-light red mb40"><i class="material-icons">add</i></a>
	</table>
	<div class="row">
		<a class="waves-effect waves-light btn col s2 offset-s5 mt20">more logs</a>
	</div>
</div>
